<aside>
    <div id="avatar">
        <!-- <img src="/img/birds_doodle.jpg" alt=""> -->
        <!-- <img src="/img/dao.jpg" alt=""> -->
        <!-- <img src="/img/cat.jpg" alt=""> -->
        <img src="/img/noface.jpg" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">PostList</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="#about" id="about-link">About</a></li>
        </ul>
    </nav>
    <div id="copyright">
        <span>Copyright: @chenllos</span>
    </div>
</aside>