mixin avatar()
  img(src="/img/avatar.jpg" alt="avatar" class!=attributes.class)
  //- img(src="/img/nico.jpg" alt="avatar" class!=attributes.class)

extends ./base.jade
block head-base
    script.
        document.write('<scr'+'ipt src="/dist/version.js?ts=' + (new Date()).valueOf() + '"></scr'+'ipt>')
    script.
        document.write('<scr'+'ipt src="/dist/3rdpartylib/sea.js?ts=' + cllVersion.ts + '"></scr'+'ipt>')
        document.write('<scr'+'ipt src="/dist/3rdpartylib/avalon.all.js?ts=' + cllVersion.ts + '"></scr'+'ipt>')
    
    block head
block body-base
    //- 左侧边栏
    include ../partial/aside.jade

    #main
        .wrapper
            block content
    
    //- 弹出about
    include ../partial/about.jade

    //- 其他弹出层
    block modules
    
    
block footer-base
    script(src="/dist/3rdpartylib/jquery.all.js")
    block footer