<!-- <div id="about" class="pop-module"> -->
<div id="about" class="pop-module">
    <div class="mask"></div>
    <div class="content">
        <!-- <h2>关于我</h2> -->
        <div class="hero">
            <img src="/img/noface.jpg" class="avatar">
        </div>
        <h1>chenllos</h1>
        <ul id="feature">
            <li>前端开发工程狮</li>
            <li>现就职于<a href="http://wiz.cn" target="_blank">为知笔记</a></li>
        </ul>
    </div>
</div>