<!-- <div id="about" class="pop-module"> -->
<div id="about" class="pop-module active">
    <div class="mask"></div>
    <div class="content">
        <h2>关于我</h2>
        <ul>
            <li>前端开发工程狮</li>
            <li>现就职于为知笔记</li>
            <li>负责前端SPA开发:
                <ul>
                    <li>mvvm及css预处理</li>
                    <li>grunt/gulp构建工具</li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>