extends helper/layout

block content
    section#post-section(data-postid=art.id)
        article.post!= mdFilter( art.content )

    include partial/disqus.jade

block modules
    #view-img-module.pop-module(ms-controller="imgView")
        .mask
        .content( ms-css-width="width" ms-css-height="height" ms-css-margin-left="-width/2" ms-css-margin-top="-height/2" )
            i.icon.icon-close.close-module
            img( ms-src="src" )

block footer
    script(src="/dist/3rdpartylib/showdown_prism.js")
    script.
        avalon.config({
            loader: false
        });
        seajs.config({
            paths: {
                script: cllVersion.scriptPath
            }
        });
        seajs.use('script/controller/blogCtrl');
