extends helper/layout

block content
    section#post-section(data-postid=art.id)
        article.post!= mdFilter( art.content )

    include partial/disqus.jade

block modules
    include partial/imageView.jade

block footer
    script.
        document.write( '<scr'+'ipt src="/dist/script/3rdpartylib/showdown_prism.js"></scr'+'ipt>')
    
    script.
        avalon.config({
            loader: false
        });
        seajs.config({
            paths: {
                script: cllVersion.scriptPath
            }
        });
        seajs.use('script/controller/blogCtrl');
