// 主布局
@navW: 300px;
@thinNavW: 240px;


// timeline细节布局
@timelineZoneW: 1000px;
@thinTimeW: 250px;

@lineW: 4px;
@lineTagW: 20px;


@connectBGC: #fff;
@connectBorderLRW: 16px;
@connectBorderTBW: (@connectBorderLRW / 1.5);
@thinConnectH: ( @lineTagW + 10px );
@connectContentW: ( @connectBorderLRW - 4px );


@itermW: ( @timelineZoneW/2 );
@thinItermW: ( @thinTimeW/2 );
@bubbleW: ( @itermW - @lineTagW/2 - @connectBorderLRW);
@thinBubbleW: ( @thinTimeW - 20px );

// @sectionW: 100% - @navW - @timelineW;
@sectionW: ( 1440px - @thinNavW - @thinTimeW );


// 一些颜色
@headerBGC: #4E9BB9;
@headerC: #fff;

// @timelineC: #E3D46C;
@timelineC: #ddd;
@lineBGC: rgba(255,255,255,0.7);


@sectionC: #fefefe;
@dFontC: #333;
@bubbleBGC: #FEFEFE;
@lineTagBGC: #5FACC4;

@readerPadding: 2.5em;


.iterm-border-radius( @radius ){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.lineTagRadius( @radius ){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.box-sizing( @box: border-box ){
    -webkit-box-sizing: @box;
    -moz-box-sizing: @box;
    box-sizing: @box;
}

.transition( @v1:all, @v2:300ms, @v3:ease){
    -webkit-transition: @v1 @v2 @v3;
    -moz-transition: @v1 @v2 @v3;
    -ms-transition: @v1 @v2 @v3;
    -o-transition: @v1 @v2 @v3;
    transition: @v1 @v2 @v3;
}
