@import "config.less";

@import "nav.less";
@import "reading.less";
@import "timeline.less";

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: @dFontC;

    font-family: 'Microsoft Yahei', '微软雅黑', 'STHeiti', 'SimHei', 'SimSun';
}

body{
    overflow-x: hidden;
}
header, section{
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

/* ------ 固定样式 and 常规样式 ------*/
header{
    width: @navW;
    background: @headerBGC;
    background-image: url(../../image/headerBG.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    // background: #eee;
    color: @headerC;
    overflow-y: hidden;
    box-shadow: 0 0 0.75em rgba(0,0,0,0.4);
    z-index: 1000;

    .trans(width 300ms ease;);
}
#timeline{
}
section{
    position: static;
    .box-sizing();
    width: 0;
    // background: @sectionC;
    background: #fff;
    margin-left: ( @navW + @thinNavW );
    #blogCtn{
        position: relative;
        #blogCtn{
            position: absolute;
        }
    }

    #widget{
        position: absolute;
        bottom: 3em;
        right: 2em;
        height: auto;
        // min-height: 2em;
        width: 2em;
        background: #accded;
        cursor: pointer;
    }
}
section img{
    max-width: 800px;
}




/* -------- 阅读模式, header略窄, timeline紧缩, section阅读区显示为主体  --------*/

body.readmode{
    header{
        width: @thinNavW;
        .trans(width 300ms ease @timelineCtnTstDelay);
    }
    section{
        width: 100%;
        margin-left: (@thinNavW + @thinTimeW);
        padding: 1em 4em;
        padding-right: (@thinNavW + @thinTimeW + @readerPadding + 30px);
        // transition: height 300ms ease-in;
        
        #widget{
            #collapse{
                height: 2em;
                width: 100%;
            }
        }
    }
}