@import "config.less";
@import "mixin.less";

body.readmode{
    #timeline{
        width: @timelineThinW;
        // margin-left: 
        #line{
            left: @readLineLeft;
            margin: 0;
        }
        #itermCtn{
            width: @timelineThinW;
            padding: 0;
            left: 0;
            margin-left: 0;
            // background-color: red;
            .iterm{
                width: 100%;
                border-top: 1px solid #aaa;
                // background-color: #fff;
                
                .bubble{
                    width: @timelineThinW - @readLineLeft*2;
                    margin-left: @readLineLeft * 2;
                    // margin: 0;
                    .border-radius(0);
                    .box-shadow( 0 0 0 #fff);
                    &:before{
                        opacity: 0;
                    }
                    .top, .middle, .bottom{
                        padding-right: @readLineLeft * 0.5;
                    }
                }
                .linetag{
                    opacity: 0;
                }

                &.left{
                    left: 0;
                }
                &.right{
                    left: 0;
                }
            }
        }
    }
}