/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   .bubble的布局配置项   ------------*/
/*--------------   .lientag的布局配置项   -----------*/
/*--------------  readmode下 #timeline的布局样式的配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   #blog/cmt 布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
html,
body {
  height: 100%;
  min-height: 450px;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', '微软雅黑', 'STHeiti', 'SimHei', 'SimSun';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header,
aside,
section,
div,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
blockquote,
code,
pre,
textarea,
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header,
aside,
section,
nav,
ul {
  margin: 0;
  padding: 0;
}
.fix-flt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn {
  display: inline-block;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-primary {
  color: #fff;
  background-color: rgba(42, 141, 184, 0.75);
  -webkit-box-shadow: 0 3px 0 rgba(42, 141, 184, 0.25);
  -moz-box-shadow: 0 3px 0 rgba(42, 141, 184, 0.25);
  box-shadow: 0 3px 0 rgba(42, 141, 184, 0.25);
}
header {
  position: relative;
  z-index: 1000;
  float: left;
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: rgba(42, 141, 184, 0.75);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
header ul {
  margin-top: 200px;
  padding: 0;
  list-style: none;
}
header ul li {
  width: 80%;
  margin-left: 10%;
  padding: 0.125em 0;
  text-align: center;
  font-size: 1.5em;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-backface-visibility: hidden;
}
header ul li:hover {
  background-color: #fff;
  color: rgba(42, 141, 184, 0.75);
}
header ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: inherit;
}
body.readmode header {
  width: 100px;
}
#main {
  width: 100%;
  height: 100%;
  padding-left: 280px;
  background-color: #d3d6e0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
body.readmode #main {
  padding-left: 100px;
}
#timeline {
  position: relative;
  z-index: 100;
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #dedcb8;
  -webkit-transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  transition: width 500ms ease;
  -webkit-backface-visibility: hidden;
}
#timeline #itermCtn {
  position: absolute;
  left: 50%;
  margin-left: -510px;
  right: 0;
  top: 0px;
  width: 1020px;
  min-height: 100%;
  list-style: none;
}
#timeline #itermCtn:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 4px;
  left: 50%;
  margin-left: -2px;
  background-color: #1a9ff9;
}
#timeline #itermCtn .iterm {
  position: absolute;
  width: 50%;
  z-index: 700;
  -webkit-transition: top 500ms ease 100ms, opacity 500ms ease 100ms;
  -moz-transition: top 500ms ease 100ms, opacity 500ms ease 100ms;
  transition: top 500ms ease 100ms, opacity 500ms ease 100ms;
  -webkit-backface-visibility: hidden;
}
#timeline #itermCtn .iterm.raw {
  opacity: 0;
}
#timeline #itermCtn .iterm .bubble {
  position: relative;
  z-index: 800;
  width: 93%;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ddd;
  border-bottom: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(80, 80, 80, 0.125), 0 3px 0 rgba(42, 141, 184, 0.25);
  -moz-box-shadow: 0 0 8px rgba(80, 80, 80, 0.125), 0 3px 0 rgba(42, 141, 184, 0.25);
  box-shadow: 0 0 8px rgba(80, 80, 80, 0.125), 0 3px 0 rgba(42, 141, 184, 0.25);
}
#timeline #itermCtn .iterm .bubble:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 820;
  top: 19px;
  width: 16px;
  height: 16px;
  background-color: #f5f4f2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#timeline #itermCtn .iterm .bubble .top,
#timeline #itermCtn .iterm .bubble .middle,
#timeline #itermCtn .iterm .bubble .bottom {
  padding: 0 0.5em;
}
#timeline #itermCtn .iterm .bubble .top {
  position: relative;
  padding: 4px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 1px solid #E6E5E4;
  background-color: #f5f4f2;
  z-index: 840;
  cursor: pointer;
}
#timeline #itermCtn .iterm .bubble .top h1,
#timeline #itermCtn .iterm .bubble .top h2,
#timeline #itermCtn .iterm .bubble .top h3,
#timeline #itermCtn .iterm .bubble .top h4 {
  font-size: 1.125em;
}
#timeline #itermCtn .iterm .bubble .middle {
  padding: 0.5em;
  min-height: 60px;
}
#timeline #itermCtn .iterm .bubble .middle p {
  font-size: 0.875em;
  margin: 0.55em 0;
  line-height: 1.25em;
}
#timeline #itermCtn .iterm .bubble .bottom {
  padding: 0.5em;
  background-color: #f5f5f5;
}
#timeline #itermCtn .iterm .bubble .bottom .date {
  float: right;
  font-size: 12px;
  font-style: italic;
}
#timeline #itermCtn .iterm .bubble:hover + .linetag {
  background-color: #FF968F;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
}
#timeline #itermCtn .iterm .linetag {
  position: absolute;
  z-index: 650;
  top: 15px;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #68d3e3;
  border: 0px solid #FF968F;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 230ms ease-in-out 20ms;
  -moz-transition: all 230ms ease-in-out 20ms;
  transition: all 230ms ease-in-out 20ms;
  -webkit-backface-visibility: hidden;
}
#timeline #itermCtn .iterm h1,
#timeline #itermCtn .iterm h2,
#timeline #itermCtn .iterm h3,
#timeline #itermCtn .iterm h4,
#timeline #itermCtn .iterm p {
  margin: 0.25em 0;
}
#timeline #itermCtn .iterm.left {
  opacity: 1;
  left: 0%;
}
#timeline #itermCtn .iterm.left .bubble {
  margin-left: 0;
}
#timeline #itermCtn .iterm.left .bubble:before,
#timeline #itermCtn .iterm.left .bubble:after {
  right: -8px;
  -webkit-box-shadow: 2px 0 0 rgba(42, 141, 184, 0.25);
  -moz-box-shadow: 2px 0 0 rgba(42, 141, 184, 0.25);
  box-shadow: 2px 0 0 rgba(42, 141, 184, 0.25);
}
#timeline #itermCtn .iterm.left .linetag {
  margin-right: -12px;
  right: 0;
}
#timeline #itermCtn .iterm.right {
  opacity: 1;
  left: 50%;
}
#timeline #itermCtn .iterm.right .bubble {
  margin-left: 7%;
}
#timeline #itermCtn .iterm.right .bubble:before,
#timeline #itermCtn .iterm.right .bubble:after {
  left: -8px;
  -webkit-box-shadow: 0 2px 0 rgba(42, 141, 184, 0.25);
  -moz-box-shadow: 0 2px 0 rgba(42, 141, 184, 0.25);
  box-shadow: 0 2px 0 rgba(42, 141, 184, 0.25);
}
#timeline #itermCtn .iterm.right .linetag {
  left: 0;
  margin-left: -12px;
}
/*------------------ test ------------------*/
#itermCtn {
  /*--- persudo as line, suc! ---*/

}
body.readmode #timeline {
  width: 350px;
  background-color: #fff;
  -webkit-transition: width 500ms ease 500ms;
  -moz-transition: width 500ms ease 500ms;
  transition: width 500ms ease 500ms;
  -webkit-backface-visibility: hidden;
}
body.readmode #timeline #itermCtn {
  width: 350px;
  padding: 0;
  left: 0;
  margin-left: 0;
}
body.readmode #timeline #itermCtn:before {
  left: 25px;
  background-color: #95C11A;
}
body.readmode #timeline #itermCtn .iterm {
  width: 100%;
  border-top: 2px solid #ddd;
}
body.readmode #timeline #itermCtn .iterm .bubble {
  width: 300px;
  margin-left: 50px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
body.readmode #timeline #itermCtn .iterm .bubble:before {
  opacity: 0;
}
body.readmode #timeline #itermCtn .iterm .bubble .top,
body.readmode #timeline #itermCtn .iterm .bubble .middle,
body.readmode #timeline #itermCtn .iterm .bubble .bottom {
  padding-right: 20px;
}
body.readmode #timeline #itermCtn .iterm .bubble .top {
  border: none;
  background-color: inherit;
}
body.readmode #timeline #itermCtn .iterm .linetag {
  opacity: 0;
}
body.readmode #timeline #itermCtn .iterm.left {
  left: 0;
}
body.readmode #timeline #itermCtn .iterm.right {
  left: 0;
}
#read {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0 60px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FF968F;
}
#read #blogCtn,
#read #commentCtn {
  padding: 15px 30px;
  background-color: #ffffff;
  color: #444;
  /*-------   排版样式    -------*/

}
#read #blogCtn h1,
#read #commentCtn h1,
#read #blogCtn h2,
#read #commentCtn h2,
#read #blogCtn h3,
#read #commentCtn h3,
#read #blogCtn h4,
#read #commentCtn h4,
#read #blogCtn h5,
#read #commentCtn h5 {
  margin: 1em 0 0.25em 0;
}
#read #blogCtn h2:first-child,
#read #commentCtn h2:first-child {
  width: 90%;
  margin: 0.5em 0 1em 0;
  padding: 0.2em 0;
  border: none;
  border-bottom: 1px solid #aaa;
}
#read #blogCtn p,
#read #commentCtn p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px 0;
}
#read #blogCtn blockquote,
#read #commentCtn blockquote {
  margin: 1em 0;
  padding-left: 1em;
  font-style: italic;
  color: #888;
  border: none;
  border-left: 3px solid #888;
}
#read #blogCtn pre,
#read #commentCtn pre {
  margin: 0.5em 0;
  padding: 0.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#read #blogCtn pre code,
#read #commentCtn pre code {
  font-size: 14px;
  color: #e5e5e5;
}
#read #blogCtn pre code .token.punctuation,
#read #commentCtn pre code .token.punctuation {
  color: #e5e5e5;
}
#read #blogCtn ul,
#read #commentCtn ul,
#read #blogCtn ol,
#read #commentCtn ol {
  margin-left: 40px;
  padding: 0;
}
#read #blogCtn ul li,
#read #commentCtn ul li,
#read #blogCtn ol li,
#read #commentCtn ol li {
  font-size: 14px;
  margin-bottom: 0.75em;
}
#read #blogCtn {
  min-height: 70%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
}
#read #blogCtn img {
  max-width: 90%;
  cursor: pointer;
}
#read #commentCtn {
  min-height: 180px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
#read #commentCtn #cmt-count,
#read #commentCtn #cmt-count-lt,
#read #commentCtn #cmt-suc {
  display: inline-block;
  font-size: 14px;
  color: #888;
  margin: 10px 0;
}
#read #commentCtn textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 80px;
  padding: 0.75em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#read #commentCtn textarea:focus {
  outline: none;
  border-color: rgba(33, 109, 142, 0.55);
  -webkit-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  -moz-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
}
#read #commentCtn textarea,
#read #commentCtn #nickname,
#read #commentCtn #email {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #888;
  outline: none;
  border: 1px solid #bbb;
}
#read #commentCtn textarea:focus,
#read #commentCtn #nickname:focus,
#read #commentCtn #email:focus {
  outline: none;
  border-color: rgba(33, 109, 142, 0.55);
  -webkit-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  -moz-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
}
#read #commentCtn #nickname,
#read #commentCtn #email {
  height: 30px;
  width: 48%;
  padding: 4px 0.75em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#read #commentCtn #nickname {
  margin-right: 3%;
}
#read #commentCtn #cmt-suc {
  opacity: 0;
  color: rgba(42, 141, 184, 0.75);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
#read #commentCtn #cmt-suc.show {
  opacity: 1;
}
#read #commentCtn #newcmt-btn {
  float: right;
}
#read #commentCtn ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 30px 0;
}
#read #commentCtn ul li {
  margin-bottom: 0.5em;
}
#read #commentCtn ul li .cmter {
  color: rgba(42, 141, 184, 0.75);
}
#read #commentCtn ul li .cmt-content {
  text-indent: 2em;
  color: #666;
}
#read #commentCtn #no-cmt {
  display: block;
  margin: 20px 0 20px 0;
  font-size: 14px;
  font-style: italic;
  color: #888;
}
body.readmode #read {
  width: auto !important;
  margin-left: 350px;
}
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #f8f8f2;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: #f92672;
}
.token.boolean,
.token.number {
  color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}
.token.atrule,
.token.attr-value {
  color: #e6db74;
}
.token.keyword {
  color: #66d9ef;
}
.token.regex,
.token.important {
  color: #fd971f;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */

  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */

  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
body {
  overflow: hidden;
}
