/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   .bubble的布局配置项   ------------*/
/*--------------   .lientag的布局配置项   -----------*/
/*--------------  readmode下 #timeline的布局样式的配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   #blog/cmt 布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
/*----------------------------------------
    @headerW: 280px;
    @headerThinW: 120px;
    @itermCtnW: 1060px;
-----------------------------------------*/
@media screen and (max-width: 1320px) {
  header {
    width: 150px;
  }
  #main {
    padding-left: 150px;
  }
  #timeline #itermCtn {
    width: 90%;
    margin-left: -45%;
  }
}
