/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   .bubble的布局配置项   ------------*/
/*--------------   .lientag的布局配置项   -----------*/
/*--------------  readmode下 #timeline的布局样式的配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   #blog/cmt 布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
#read {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0 60px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FF968F;
}
#read #blogCtn,
#read #commentCtn {
  padding: 15px 30px;
  background-color: #ffffff;
  color: #444;
  /*-------   排版样式    -------*/

}
#read #blogCtn h1,
#read #commentCtn h1,
#read #blogCtn h2,
#read #commentCtn h2,
#read #blogCtn h3,
#read #commentCtn h3,
#read #blogCtn h4,
#read #commentCtn h4,
#read #blogCtn h5,
#read #commentCtn h5 {
  margin: 1em 0 0.25em 0;
}
#read #blogCtn h2:first-child,
#read #commentCtn h2:first-child {
  width: 90%;
  margin: 0.5em 0 1em 0;
  padding: 0.2em 0;
  border: none;
  border-bottom: 1px solid #aaa;
}
#read #blogCtn p,
#read #commentCtn p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px 0;
}
#read #blogCtn blockquote,
#read #commentCtn blockquote {
  margin: 1em 0;
  padding-left: 1em;
  font-style: italic;
  color: #888;
  border: none;
  border-left: 3px solid #888;
}
#read #blogCtn pre,
#read #commentCtn pre {
  margin: 0.5em 0;
  padding: 0.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#read #blogCtn pre code,
#read #commentCtn pre code {
  font-size: 14px;
  color: #e5e5e5;
}
#read #blogCtn pre code .token.punctuation,
#read #commentCtn pre code .token.punctuation {
  color: #e5e5e5;
}
#read #blogCtn ul,
#read #commentCtn ul,
#read #blogCtn ol,
#read #commentCtn ol {
  margin-left: 40px;
  padding: 0;
}
#read #blogCtn ul li,
#read #commentCtn ul li,
#read #blogCtn ol li,
#read #commentCtn ol li {
  font-size: 14px;
  margin-bottom: 0.75em;
}
#read #blogCtn {
  min-height: 70%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
}
#read #blogCtn img {
  max-width: 90%;
  cursor: pointer;
}
#read #commentCtn {
  min-height: 180px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
#read #commentCtn #cmt-count,
#read #commentCtn #cmt-count-lt,
#read #commentCtn #cmt-suc {
  display: inline-block;
  font-size: 14px;
  color: #888;
  margin: 10px 0;
}
#read #commentCtn textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 80px;
  padding: 0.75em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#read #commentCtn textarea:focus {
  outline: none;
  border-color: rgba(33, 109, 142, 0.55);
  -webkit-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  -moz-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
}
#read #commentCtn textarea,
#read #commentCtn #nickname,
#read #commentCtn #email {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #888;
  outline: none;
  border: 1px solid #bbb;
}
#read #commentCtn textarea:focus,
#read #commentCtn #nickname:focus,
#read #commentCtn #email:focus {
  outline: none;
  border-color: rgba(33, 109, 142, 0.55);
  -webkit-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  -moz-box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
  box-shadow: inset 0 0 2px rgba(33, 109, 142, 0.55);
}
#read #commentCtn #nickname,
#read #commentCtn #email {
  height: 30px;
  width: 48%;
  padding: 4px 0.75em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#read #commentCtn #nickname {
  margin-right: 3%;
}
#read #commentCtn #cmt-suc {
  opacity: 0;
  color: rgba(42, 141, 184, 0.75);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
#read #commentCtn #cmt-suc.show {
  opacity: 1;
}
#read #commentCtn #newcmt-btn {
  float: right;
}
#read #commentCtn ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 30px 0;
}
#read #commentCtn ul li {
  margin-bottom: 0.5em;
}
#read #commentCtn ul li .cmter {
  color: rgba(42, 141, 184, 0.75);
}
#read #commentCtn ul li .cmt-content {
  text-indent: 2em;
  color: #666;
}
#read #commentCtn #no-cmt {
  display: block;
  margin: 20px 0 20px 0;
  font-size: 14px;
  font-style: italic;
  color: #888;
}
body.readmode #read {
  width: auto !important;
  margin-left: 350px;
}
