/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   line的布局配置项   --------------*/
/*--------------   .bubble的布局配置项   ------------*/
/*--------------   .lientag的布局配置项   -----------*/
/*--------------  readmode下 #timeline的布局样式的配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   #blog/cmt 布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
body.readmode #timeline {
  width: 350px;
  background-color: #fff;
  -webkit-transition: width 500ms ease 500ms;
  -moz-transition: width 500ms ease 500ms;
  transition: width 500ms ease 500ms;
  -webkit-backface-visibility: hidden;
}
body.readmode #timeline #itermCtn {
  width: 350px;
  padding: 0;
  left: 0;
  margin-left: 0;
}
body.readmode #timeline #itermCtn:before {
  left: 25px;
  background-color: #95C11A;
}
body.readmode #timeline #itermCtn .iterm {
  width: 100%;
  border-top: 2px solid #ddd;
}
body.readmode #timeline #itermCtn .iterm .bubble {
  width: 300px;
  margin-left: 50px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
body.readmode #timeline #itermCtn .iterm .bubble:before {
  opacity: 0;
}
body.readmode #timeline #itermCtn .iterm .bubble .top,
body.readmode #timeline #itermCtn .iterm .bubble .middle,
body.readmode #timeline #itermCtn .iterm .bubble .bottom {
  padding-right: 20px;
}
body.readmode #timeline #itermCtn .iterm .bubble .top {
  border: none;
  background-color: inherit;
}
body.readmode #timeline #itermCtn .iterm .linetag {
  opacity: 0;
}
body.readmode #timeline #itermCtn .iterm.left {
  left: 0;
}
body.readmode #timeline #itermCtn .iterm.right {
  left: 0;
}
