/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   .bubble的布局配置项  ---------------*/
/*--------------   .lientag的布局配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
/* line 4, header.less */
header {
  float: left;
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 13, header.less */
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 20, header.less */
body.readmode header {
  width: 80px;
}
