/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   .bubble的布局配置项  ---------------*/
/*--------------   .lientag的布局配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
/* line 4, normalize.less */
html,
body {
  height: 100%;
  min-height: 450px;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', '微软雅黑', 'STHeiti', 'SimHei', 'SimSun';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, normalize.less */
header,
aside,
section,
div,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 16, normalize.less */
a {
  text-decoration: none;
}
/* line 20, normalize.less */
header,
aside,
section,
nav,
ul {
  margin: 0;
  padding: 0;
}
/* line 4, header.less */
header {
  float: left;
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 13, header.less */
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 20, header.less */
body.readmode header {
  width: 80px;
}
/* line 4, main.less */
#main {
  width: 100%;
  height: 100%;
  padding-left: 280px;
  background-color: #d3d6e0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 13, main.less */
body.readmode #main {
  padding-left: 80px;
}
/* line 5, timeline.less */
#timeline {
  width: 100%;
  position: relative;
  float: left;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(43, 133, 195, 0.125);
  -webkit-transition: width 500ms ease 300ms;
  -moz-transition: width 500ms ease 300ms;
  transition: width 500ms ease 300ms;
  -webkit-backface-visibility: hidden;
}
/* line 17, timeline.less */
#timeline #line {
  position: absolute;
  height: 100%;
  width: 4px;
  left: 50%;
  margin-left: -2px;
  background-color: rgba(26, 159, 249, 0.5);
  z-index: 600;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 28, timeline.less */
#timeline #itermCtn {
  position: absolute;
  left: 50%;
  right: 0;
  top: 16px;
  width: 1060px;
  margin-left: -530px;
  list-style: none;
}
/* line 40, timeline.less */
#timeline #itermCtn .iterm {
  position: absolute;
  width: 50%;
  z-index: 700;
  -webkit-transition: top ease 500ms, opacity ease 500ms;
  -moz-transition: top ease 500ms, opacity ease 500ms;
  transition: top ease 500ms, opacity ease 500ms;
  -webkit-backface-visibility: hidden;
}
/* line 49, timeline.less */
#timeline #itermCtn .iterm.raw {
  opacity: 0;
}
/* line 55, timeline.less */
#timeline #itermCtn .iterm .bubble {
  position: relative;
  z-index: 800;
  width: 93%;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.375);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.375);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.375);
  background-color: #ffffff;
  color: #333333;
}
/* line 67, timeline.less */
#timeline #itermCtn .iterm .bubble:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 440;
  top: 19px;
  width: 16px;
  height: 16px;
  background-color: #f5f4f2;
  -webkit-box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 81, timeline.less */
#timeline #itermCtn .iterm .bubble .top,
#timeline #itermCtn .iterm .bubble .middle,
#timeline #itermCtn .iterm .bubble .bottom {
  padding: 0 0.5em;
}
/* line 84, timeline.less */
#timeline #itermCtn .iterm .bubble .top {
  position: relative;
  padding: 4px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 1px solid #E6E5E4;
  background-color: #f5f4f2;
  z-index: 450;
}
/* line 94, timeline.less */
#timeline #itermCtn .iterm .bubble .top h1,
#timeline #itermCtn .iterm .bubble .top h2,
#timeline #itermCtn .iterm .bubble .top h3,
#timeline #itermCtn .iterm .bubble .top h4 {
  font-size: 1.125em;
}
/* line 98, timeline.less */
#timeline #itermCtn .iterm .bubble .middle {
  padding: 0.5em;
  min-height: 60px;
}
/* line 101, timeline.less */
#timeline #itermCtn .iterm .bubble .middle p {
  font-size: 0.875em;
  margin: 0.55em 0;
  line-height: 1.25em;
}
/* line 109, timeline.less */
#timeline #itermCtn .iterm .bubble .linetag {
  position: absolute;
  z-index: 650;
  top: 15px;
  width: 24px;
  height: 24px;
  background-color: #68d3e3;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 119, timeline.less */
#timeline #itermCtn .iterm .bubble:hover .linetag {
  top: 2px;
  width: 50px;
  height: 50px;
  background-color: #68d3e3;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
/* line 146, timeline.less */
#timeline #itermCtn .iterm h1,
#timeline #itermCtn .iterm h2,
#timeline #itermCtn .iterm h3,
#timeline #itermCtn .iterm h4,
#timeline #itermCtn .iterm p {
  margin: 0.25em 0;
}
/* line 153, timeline.less */
#timeline #itermCtn .iterm.left {
  opacity: 1;
  left: 0%;
}
/* line 157, timeline.less */
#timeline #itermCtn .iterm.left .bubble {
  margin-left: 0;
}
/* line 159, timeline.less */
#timeline #itermCtn .iterm.left .bubble:before {
  right: -8px;
}
/* line 163, timeline.less */
#timeline #itermCtn .iterm.left .bubble .linetag {
  left: 107.52688172043011%;
  margin-left: -12px;
}
/* line 169, timeline.less */
#timeline #itermCtn .iterm.left .bubble:hover .linetag {
  margin-left: -25px;
}
/* line 175, timeline.less */
#timeline #itermCtn .iterm.right {
  opacity: 1;
  left: 50%;
}
/* line 178, timeline.less */
#timeline #itermCtn .iterm.right .bubble {
  margin-left: 7%;
}
/* line 180, timeline.less */
#timeline #itermCtn .iterm.right .bubble:before {
  left: -8px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.5);
}
/* line 186, timeline.less */
#timeline #itermCtn .iterm.right .bubble .linetag {
  left: -7.526881720430108%;
  margin-left: -12px;
}
/* line 190, timeline.less */
#timeline #itermCtn .iterm.right .bubble:hover .linetag {
  margin-left: -25px;
}
/* line 4, read-timeline.less */
body.readmode #timeline {
  width: 400px;
}
/* line 7, read-timeline.less */
body.readmode #timeline #line {
  left: 25px;
  margin: 0;
}
/* line 11, read-timeline.less */
body.readmode #timeline #itermCtn {
  width: 400px;
  left: 0;
  margin-left: 0;
}
/* line 16, read-timeline.less */
body.readmode #timeline #itermCtn .iterm {
  width: 400px;
  border-top: 1px solid #aaa;
  background-color: #fff;
}
/* line 22, read-timeline.less */
body.readmode #timeline #itermCtn .iterm .bubble {
  width: 350px;
  margin-left: 50px;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
/* line 28, read-timeline.less */
body.readmode #timeline #itermCtn .iterm .bubble:before {
  opacity: 0;
}
/* line 32, read-timeline.less */
body.readmode #timeline #itermCtn .iterm .linetag {
  opacity: 0;
}
/* line 36, read-timeline.less */
body.readmode #timeline #itermCtn .iterm.left {
  left: 0;
}
/* line 39, read-timeline.less */
body.readmode #timeline #itermCtn .iterm.right {
  left: 0;
}
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
/* line 7, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
/* line 28, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
pre[class*="language-"] {
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
  border-radius: 0.2em;
}
/* line 35, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}
/* Inline code */
/* line 41, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
/* line 46, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
/* line 53, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.punctuation {
  color: #f8f8f2;
}
/* line 57, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.namespace {
  opacity: .7;
}
/* line 61, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.property,
.token.tag {
  color: #f92672;
}
/* line 66, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.boolean,
.token.number {
  color: #ae81ff;
}
/* line 71, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.selector,
.token.attr-name,
.token.string {
  color: #a6e22e;
}
/* line 78, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f8f8f2;
}
/* line 86, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.atrule,
.token.attr-value {
  color: #e6db74;
}
/* line 93, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.keyword {
  color: #66d9ef;
}
/* line 97, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.regex,
.token.important {
  color: #fd971f;
}
/* line 102, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.important {
  font-weight: bold;
}
/* line 106, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.token.entity {
  cursor: help;
}
/* line 109, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
/* line 115, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
pre.line-numbers > code {
  position: relative;
}
/* line 119, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */

  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 136, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
/* line 142, /Users/chensukesuke/Documents/dev/blog/layout/plugin/prism.less */
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
/* line 13, layout.less */
body {
  overflow: hidden;
}
