/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   .bubble的布局配置项  ---------------*/
/*--------------   .lientag的布局配置项  ---------------*/
/*--------------  readmode下 #timeline的布局样式的配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   #blog/cmt 布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
/* line 4, main.less */
#main {
  width: 100%;
  height: 100%;
  padding-left: 280px;
  background-color: #d3d6e0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 13, main.less */
body.readmode #main {
  padding-left: 120px;
}
