/*--------------   header样式布局的配置项  ---------------*/
/*--------------   #main的样式布局配置项   ---------------*/
/*--------------   #timeline的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   line的布局配置项  ---------------*/
/*--------------   .bubble的布局配置项  ---------------*/
/*--------------   .lientag的布局配置项  ---------------*/
/*--------------  readmode下 #timeline的布局样式的配置项  ---------------*/
/*--------------   #read布局样式的配置项  ---------------*/
/*--------------   #blog/cmt 布局样式的配置项  ---------------*/
/*--------------   ---------------*/
/*--------------   ---------------*/
/* line 5, timeline.less */
#timeline {
  position: relative;
  z-index: 100;
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffeac7;
  -webkit-transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  transition: width 500ms ease;
  -webkit-backface-visibility: hidden;
}
/* line 20, timeline.less */
#timeline #itermCtn {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0px;
  width: 1060px;
  min-height: 100%;
  margin-left: -530px;
  list-style: none;
}
/* line 31, timeline.less */
#timeline #itermCtn:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 4px;
  left: 50%;
  margin-left: -2px;
  background-color: #fff;
}
/* line 44, timeline.less */
#timeline #itermCtn .iterm {
  position: absolute;
  width: 50%;
  z-index: 700;
  -webkit-transition: top ease 500ms, opacity ease 500ms;
  -moz-transition: top ease 500ms, opacity ease 500ms;
  transition: top ease 500ms, opacity ease 500ms;
  -webkit-backface-visibility: hidden;
}
/* line 50, timeline.less */
#timeline #itermCtn .iterm.raw {
  opacity: 0;
}
/* line 56, timeline.less */
#timeline #itermCtn .iterm .bubble {
  position: relative;
  z-index: 800;
  width: 93%;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ddd;
  border-bottom: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 rgba(80, 193, 210, 0.5);
  -moz-box-shadow: 0 3px 0 rgba(80, 193, 210, 0.5);
  box-shadow: 0 3px 0 rgba(80, 193, 210, 0.5);
}
/* line 72, timeline.less */
#timeline #itermCtn .iterm .bubble:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 820;
  top: 19px;
  width: 16px;
  height: 16px;
  background-color: #f5f4f2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 97, timeline.less */
#timeline #itermCtn .iterm .bubble .top,
#timeline #itermCtn .iterm .bubble .middle,
#timeline #itermCtn .iterm .bubble .bottom {
  padding: 0 0.5em;
}
/* line 100, timeline.less */
#timeline #itermCtn .iterm .bubble .top {
  position: relative;
  padding: 4px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 1px solid #E6E5E4;
  background-color: #f5f4f2;
  z-index: 840;
  cursor: pointer;
}
/* line 112, timeline.less */
#timeline #itermCtn .iterm .bubble .top h1,
#timeline #itermCtn .iterm .bubble .top h2,
#timeline #itermCtn .iterm .bubble .top h3,
#timeline #itermCtn .iterm .bubble .top h4 {
  font-size: 1.125em;
}
/* line 116, timeline.less */
#timeline #itermCtn .iterm .bubble .middle {
  padding: 0.5em;
  min-height: 60px;
}
/* line 119, timeline.less */
#timeline #itermCtn .iterm .bubble .middle p {
  font-size: 0.875em;
  margin: 0.55em 0;
  line-height: 1.25em;
}
/* line 125, timeline.less */
#timeline #itermCtn .iterm .bubble .bottom {
  padding: 0.5em;
  background-color: #f5f5f5;
}
/* line 128, timeline.less */
#timeline #itermCtn .iterm .bubble .bottom .date {
  float: right;
  font-size: 12px;
  font-style: italic;
}
/* line 135, timeline.less */
#timeline #itermCtn .iterm .bubble .linetag {
  position: absolute;
  z-index: 650;
  top: 15px;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #68d3e3;
  border: 0px solid #FF968F;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 230ms ease-in-out 40ms;
  -moz-transition: all 230ms ease-in-out 40ms;
  transition: all 230ms ease-in-out 40ms;
  -webkit-backface-visibility: hidden;
}
/* line 148, timeline.less */
#timeline #itermCtn .iterm .bubble:hover .linetag {
  top: 8px;
  width: 38px;
  height: 38px;
  background-color: #68d3e3;
  border: 19px solid #ff968f;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
}
/* line 159, timeline.less */
#timeline #itermCtn .iterm h1,
#timeline #itermCtn .iterm h2,
#timeline #itermCtn .iterm h3,
#timeline #itermCtn .iterm h4,
#timeline #itermCtn .iterm p {
  margin: 0.25em 0;
}
/* line 166, timeline.less */
#timeline #itermCtn .iterm.left {
  opacity: 1;
  left: 0%;
}
/* line 170, timeline.less */
#timeline #itermCtn .iterm.left .bubble {
  margin-left: 0;
}
/* line 172, timeline.less */
#timeline #itermCtn .iterm.left .bubble:before,
#timeline #itermCtn .iterm.left .bubble:after {
  right: -8px;
  -webkit-box-shadow: 2px 0 0 rgba(80, 193, 210, 0.5);
  -moz-box-shadow: 2px 0 0 rgba(80, 193, 210, 0.5);
  box-shadow: 2px 0 0 rgba(80, 193, 210, 0.5);
}
/* line 176, timeline.less */
#timeline #itermCtn .iterm.left .bubble .linetag {
  left: 107.52688172043011%;
  margin-left: -12px;
}
/* line 180, timeline.less */
#timeline #itermCtn .iterm.left .bubble:hover .linetag {
  margin-left: -19px;
}
/* line 185, timeline.less */
#timeline #itermCtn .iterm.right {
  opacity: 1;
  left: 50%;
}
/* line 188, timeline.less */
#timeline #itermCtn .iterm.right .bubble {
  margin-left: 7%;
}
/* line 190, timeline.less */
#timeline #itermCtn .iterm.right .bubble:before,
#timeline #itermCtn .iterm.right .bubble:after {
  left: -8px;
  -webkit-box-shadow: 0 2px 0 rgba(80, 193, 210, 0.5);
  -moz-box-shadow: 0 2px 0 rgba(80, 193, 210, 0.5);
  box-shadow: 0 2px 0 rgba(80, 193, 210, 0.5);
}
/* line 197, timeline.less */
#timeline #itermCtn .iterm.right .bubble .linetag {
  left: -7.526881720430108%;
  margin-left: -12px;
}
/* line 201, timeline.less */
#timeline #itermCtn .iterm.right .bubble:hover .linetag {
  margin-left: -19px;
}
/*------------------ test ------------------*/
/* line 218, timeline.less */
#itermCtn {
  /*--- persudo as line, suc! ---*/

}
