/**^^^^^^^^^^^^^^^ 第二期工程 ^^^^^^^^^^^^^^^^^**/
/**__________________________________________**/
/* - - - - - - - - timeline 相关样式配置 - - - - - - - - - */
/* - - - - - - - - 通用类 相关样式配置 - - - - - - - - - */
/* line 116, config.less */
.tri:before {
  border: none;
  width: 16px;
  height: 16px;
  background-color: red;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 4, nav.less */
nav {
  width: 200px;
  height: 100%;
  margin: 0 auto;
  padding: 5em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 12, nav.less */
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
/* line 18, nav.less */
nav ul li {
  font-size: 1.5em;
  padding: 0 0.5em;
  transition: all 300ms ease;
}
/* line 22, nav.less */
nav ul li:hover {
  background: #fff;
}
/* line 24, nav.less */
nav ul li:hover a {
  color: #4e9bb9;
}
/* line 28, nav.less */
nav ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: all 300ms ease;
}
