/**^^^^^^^^^^^^^^^ 第二期工程 ^^^^^^^^^^^^^^^^^**/
/**__________________________________________**/
/* - - - - - - - - timeline 相关样式配置 - - - - - - - - - */
/* - - - - - - - - 通用类 相关样式配置 - - - - - - - - - */
/* line 116, config.less */
.tri:before {
  border: none;
  width: 16px;
  height: 16px;
  background-color: red;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 4, reading.less */
body.readmode .piece {
  top: 0;
  font-size: 1em;
}
/* line 8, reading.less */
body.readmode .piece.go {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
/* line 14, reading.less */
body.readmode .piece.wait2come {
  opacity: 0;
  height: 0;
}
/* line 19, reading.less */
body.readmode .piece.reading {
  left: 0;
  opacity: 1;
  height: auto;
}
/* line 24, reading.less */
body.readmode .piece h1,
body.readmode .piece h2,
body.readmode .piece h3,
body.readmode .piece h4,
body.readmode .piece h5 {
  text-align: left;
  margin-bottom: 0.75em;
}
/* line 30, reading.less */
body.readmode .piece p {
  margin: 0;
  line-height: 1.25em;
}
/* line 35, reading.less */
body.readmode .piece img {
  max-width: 80%;
  height: auto;
  margin: 0.75em auto 0 auto;
  text-align: center;
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.375);
}
/* line 42, reading.less */
body.readmode .piece blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.25em 1.5em;
  margin: 2em 2.25em;
  border: 0.375em none #999;
  border-left-style: solid;
}
/* line 50, reading.less */
body.readmode .piece blockquote p {
  text-indent: 1em;
  margin: 0em;
  color: #888;
  font-style: italic;
}
/* line 56, reading.less */
body.readmode .piece pre code {
  font-size: 0.875em;
  line-height: 1.375em;
  letter-spacing: 0.075em;
}
/* line 62, reading.less */
body.readmode .piece ol,
body.readmode .piece ul {
  padding: 0 0 0 5em;
  margin: 1.5em 0;
}
/* line 67, reading.less */
body.readmode .piece li {
  padding: 0.375em 0;
}
