/*  ------------ details of timeline  -----------*/
/* line 12, timeline.less */
#timeline {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0 0 150px;
  padding: 0 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #efefef;
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -ms-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  transition: width 300ms ease;
}
/* line 26, timeline.less */
body.readmode #timeline {
  margin-left: 240px;
  overflow: hidden;
  -webkit-transition: width 450ms ease 5s;
  -moz-transition: width 450ms ease 5s;
  -ms-transition: width 450ms ease 5s;
  -o-transition: width 450ms ease 5s;
  transition: width 450ms ease 5s;
}
/* line 35, timeline.less */
#timeline ul#itermCtn {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
/* line 43, timeline.less */
body.readmode #timeline ul#itermCtn {
  width: 300px;
}
/* line 48, timeline.less */
#timeline #line {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  background: rgba(255, 255, 255, 0.7);
}
/* line 57, timeline.less */
body.readmode #timeline #line {
  margin-left: -(4px/2);
  -webkit-transition: margin 300ms ease 1s;
  -moz-transition: margin 300ms ease 1s;
  -ms-transition: margin 300ms ease 1s;
  -o-transition: margin 300ms ease 1s;
  transition: margin 300ms ease 1s;
}
/* line 64, timeline.less */
#timeline .iterm {
  position: absolute;
  width: 500px;
  margin: 1.5em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  min-height: 4em;
  outline: 1px solid pink;
}
/* line 73, timeline.less */
body.readmode #timeline .iterm {
  width: 300px;
  min-height: 6em;
}
/* line 79, timeline.less */
.transition( top 300ms ease, left 300ms ease ) body.readmode #timeline .iterm:hover {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
}
/* line 87, timeline.less */
.transition( top 300ms ease, left 300ms ease ) body.readmode #timeline .iterm:hover .linetag {
  top: -15px;
  left: 140px;
  width: 20px;
  height: 20px;
}
/* line 97, timeline.less */
#timeline .iterm .bubble {
  position: relative;
  width: 474px;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.375em;
  color: #444;
  background: #ffffff;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 115, timeline.less */
#timeline .iterm .bubble .top {
  margin: 0 0 0.5em 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
/* line 124, timeline.less */
#timeline .iterm .bubble .bottom {
  margin: 0.5em 0 0 0;
}
/* line 128, timeline.less */
#timeline .iterm .bubble h1,
#timeline .iterm .bubble h2,
#timeline .iterm .bubble h3,
#timeline .iterm .bubble h4,
#timeline .iterm .bubble h5 {
  margin: 0;
}
/* line 132, timeline.less */
#timeline .iterm .bubble h2 {
  font-size: 1.125em;
}
/* line 135, timeline.less */
#timeline .iterm .bubble h3 {
  font-size: 1em;
}
/* line 138, timeline.less */
#timeline .iterm .bubble p {
  margin: 0;
  line-height: 1.25em;
  font-size: 0.9em;
  text-indent: 0em;
}
/* line 144, timeline.less */
#timeline .iterm .bubble blockquote {
  border: none;
  border-left: 3px solid #212E32;
  margin-left: 1em ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.125em 0.25em;
}
/* line 150, timeline.less */
#timeline .iterm .bubble blockquote p {
  text-indent: 0;
  color: #999;
  font-style: italic;
}
/* line 157, timeline.less */
body.readmode #timeline .iterm .bubble {
  opacity: 1;
  height: auto;
  width: 280px;
  transition: all 400ms ease;
  z-index: 1000;
}
/* line 164, timeline.less */
body.readmode #timeline .iterm .bubble h2 {
  font-size: 1em;
}
/* line 168, timeline.less */
body.readmode #timeline .iterm .bubble .top {
  margin: 0 0 0.5em 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
/* line 173, timeline.less */
body.readmode #timeline .iterm .bubble .middle {
  display: none;
}
/* line 176, timeline.less */
body.readmode #timeline .iterm .bubble .bottom {
  display: none;
}
/* line 183, timeline.less */
#timeline .iterm .connect {
  position: absolute;
  top: 13.333333333333334px;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}
/* line 192, timeline.less */
body.readmode #timeline .iterm .connect {
  display: none;
}
/* line 197, timeline.less */
#timeline .iterm .linetag {
  position: absolute;
  top: 13.333333333333334px;
  width: 20px;
  height: 20px;
  background: #5facc4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 205, timeline.less */
body.readmode #timeline .iterm .linetag {
  position: absolute;
  left: 136.25px;
  width: 27.5px;
  height: 27.5px;
}
/* line 214, timeline.less */
#timeline .iterm.left {
  left: 0;
}
/* line 216, timeline.less */
#timeline .iterm.left .connect {
  right: 14px;
  border-top: 10.666666666666666px solid transparent;
  border-left: 12px solid #ffffff;
  border-bottom: 10.666666666666666px solid transparent;
}
/* line 224, timeline.less */
#timeline .iterm.left .linetag {
  right: -10px;
}
/* line 228, timeline.less */
body.readmode #timeline .iterm.left {
  left: 50%;
  margin-left: -150px;
}
/* line 232, timeline.less */
body.readmode #timeline .iterm.left .bubble {
  left: 10px;
}
/* line 238, timeline.less */
#timeline .iterm.right {
  left: 500px;
}
/* line 240, timeline.less */
#timeline .iterm.right .bubble {
  left: 26px;
}
/* line 244, timeline.less */
#timeline .iterm.right .connect {
  left: 14px;
  border-top: 10.666666666666666px solid transparent;
  border-right: 12px solid #ffffff;
  border-bottom: 10.666666666666666px solid transparent;
}
/* line 251, timeline.less */
#timeline .iterm.right .linetag {
  left: -10px;
}
/* line 255, timeline.less */
body.readmode #timeline .iterm.right {
  left: 50%;
  margin-left: -150px;
}
/* line 258, timeline.less */
body.readmode #timeline .iterm.right .bubble {
  left: 10px;
}
