@import "../base/config.less";
@import "../base/mixin.less";


@codePadding: 0.75em;
@codeLineHeight: 1.35;
@inlineCodeC: rgba(0,0,0,0.625);
@codeFontFmaily: 'Anonymous Pro', 'Source Code Pro', Monaco, Inconsolata, Menlo;
// @codeFontFmaily: Menlo;

// blog缩略 首页显示的摘要
.post-item{
    position: relative;
    margin-top: 5em;
    
    &:first-child{
        margin-top: 0;

        &:before{
            display: none;
        }
    }


    &:before{
        position: absolute;
        content: '';
        height: 2px;
        left: 0;
        right: 0;
        top: -2em;
        background-color: #efefef;
    }
    .post-title{
        margin: 0.35em 0;
        line-height: 1;
        font-weight: bold;
    }
    .cover{
        position: relative;
        margin: 1em 0;
        height: 300px;
        // background-position: 50% 50%;
        background-size: cover;
        .cover-img{
            display: none;
            // display: block;
            width: @contentWrapperW;
            height: auto;
            opacity: 0.8;
        }
    }
    .summery{
        p:first-child{
            text-indent: 2em;
        }
    }
    .post-more{
        float: right;
        margin-right: 1em;
        margin-top: -1em;
        font-style: italic;
        font-weight: bold;
    }
}

.post{
    h1:first-child, h2:first-child {
        font-size: 2em;
        .tst();
        &:hover{
            color: @themeC;
        }
    }


}
.post-item, .post{
    .post-info{
        margin: 1em 0 -0.5em 0;

        .create-time{
            display: inline-block;
            // height: @iconW;
            height: 25px;
            .time-text{
                position: relative;
                top: -5px;
                margin-left: 0.5em;
                color: #bbb;
                // display: inline-block;
                // padding: 0.5em 0;
            }
        }
    }
}

.post, .post-item{
    min-height: 200px;
    h1{
        margin: 0;
        line-height: 1.2;
    }
    h2, h3, h4{
        margin: 0.5em 0 0.25em 0;
    }
    p{
        margin: 1em 0;
        text-indent: 0em;
    }
    // -------------------------- 引用:
    blockquote{
        margin: 1em 0;
        padding: 0 1em;
        border-left: 0.375em solid @quoteBorderLeftC;
        color: lighten( @fontC, 20% );
    }
    // -------------------------- 行内代码
    code{
        // position: relative;
        // top: -1px;
        // display: inline-block;
        padding: 2px 3px 0 3px;
        color: @inlineCodeC;
        font-family: @codeFontFmaily;
        font-size: 0.875em;
        line-height: 1.25;
        border: 1px solid #ccc;
        background-color: #EAEAEA;
        .border-radius(3px);
        .box-shadow(inset 0 0 5px rgba(0,0,0,0.075););
    }
    // -------------------------- 代码
    pre{
        // width: 800px;
        background-color: #26292C;
    }
    // re write color
    pre code{
        display: inline-block;
        color: #fff;
        letter-spacing: 0;
        border: none;
    }
    // rewrite prism code style
    // code[class*="language-"],
    pre[class*="language-"]{
        padding: 0;
        max-height: 500px;
        .border-radius(0);
        background-color: rgb(38, 41, 44);

        &::-webkit-scrollbar{
            background-color: rgba( 255,255,255,0.75 );
        }

        code, code[class*="language-"]{
            padding: @codePadding 0;
            font-size: 14px;
            line-height: @codeLineHeight;
            background-color: transparent;
            // letter-spacing: 1px;
            font-family: @codeFontFmaily;

            span{
                font-family: @codeFontFmaily;
            }
        }
    }
    pre.line-numbers{
        padding-left: 3em;

        .line-numbers-rows{
            padding: @codePadding 0;
            width: 2em;
            left: -3em;
            line-height: @codeLineHeight;
            border-right: 2px solid rgba(255,255,255,0.125);

            & > span:before {
                padding-right: 0.5em;
            }
        }
    }
    // -------------------------- 图片
    img{
        margin: 0 0 0 10px;
        max-width: 600px;
        max-height: 350px;
        .box-shadow( 0 0 20px rgba(0,0,0,0.375); );
    }
    // list
    ol, ul{
        padding: 0 0 0 1em;
        margin-left: 2em;
        // color: #666;
    }


}


#view-img-module{
    .content{
        .border-radius(5px);
        text-align: center;
        padding: 30px;
        background-color: #fcfcfc;
        .close-module{
            position: absolute;
            right: 3px;
            top: 3px;
        }
        img{
            .box-shadow( 0 0 20px rgba(0,0,0,0.375); );
            // display: block;
            // margin: 0 auto;
        }
    }
}