@import "../base/config.less";
@import "../base/mixin.less";

#main{
    width: auto;
    // padding-top: 1em;
    margin-left: @asideW;

    .wrapper{
        width: @contentWrapperW;
        margin: 0 auto;
        padding: 2em @wrapperPadding;
        background-color: #fff;
        .box-shadow(0 0 3px fadeOut(#000, 75%););
    }
}