#about.pop-module
    .mask
    .content
        .hero: +avatar()(class="avatar")
        h1 chenllos
        ul#feature
            li 前端开发工程狮
            li 现就职于<a href="http://wiz.cn" target="_blank">为知笔记</a>