aside
    div#avatar: +avatar()
    nav
        ul
            li: a(href="/") Home
            li: a(href="/posts") Postlist
            li: a(href="/photos") Photos
            li: a#about-link(href="/about") About
    #copyright
        span Made with ♥︎