#view-img-module.pop-module(ms-controller="imgView")
    .mask
    .content( ms-css-max-width="maxWidth" ms-css-max-height="maxHeight" ms-css-margin-left="-width/2" ms-css-margin-top="-height/2" )
        i.icon.icon-close.close-module
        img( ms-src="src" ms-css-max-width="maxWidth-60" ms-css-max-height="maxHeight-60")