@import "config.less";
@import "mixin.less";

@font-face {
    font-family: 'anonymous_proregular';
    src: url('/font/AnonymousPro/anonymous_pro-webfont.eot');
    src: url('/font/AnonymousPro/anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/AnonymousPro/anonymous_pro-webfont.woff') format('woff'),
         url('/font/AnonymousPro/anonymous_pro-webfont.ttf') format('truetype'),
         url('/font/AnonymousPro/anonymous_pro-webfont.svg#anonymous_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


*{
   .box-sizing();
    &::-webkit-scrollbar{
        width: 0.5em;
        height: 0.5em;
        padding-right: 2px;
        background-color: rgba( 255,255,255,0.5 );
        // border-radius: 0.5em;
        // opacity: 0.5;
    }
    &::-webkit-scrollbar-button{
        display: none;
    }
    // （拖动条？滑块？滚动条里面可以拖动的那个，肿么翻译好呢？）
    &::-webkit-scrollbar-thumb{
        background-color: fadeOut(#5FAADF, 20%);
        border-radius: 0.5em;
        // background-color: @themeC;
    }
}

a{
    color: #4E9BB9;
    text-decoration: none;
    .tst();
}
a:hover{
    color: @themeC;
}
a[href="#"], a[href="javascript:void(0);"]{
    // color: #444;
    cursor: default;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}