@import "base/config.less";
@import "base/mixin.less";

#writer{
    position: relative;
    #md, #preview{
        position: absolute;
        top: 1em;
        bottom: 3.75em;
        width: 48%;
        background-color: #fff;
        .tst();
    }
    #md{
        left: 1em;
    }
    #preview{
        right: 1em;
        opacity: 1;
    }
    
    #iframe-md{
        height: 100%;
        width: 100%;
    }

    #preview-btn, #submit-btn{
        position: absolute;
        bottom: 1em;
    }
    #preview-btn{
        left: 1em;
    }
    #submit-btn{
        left: 8em;
    }
}

#writer.nopreview{
    #md{
        width: 84%;
        left: 8%;
    }
    #preview{
        right: 25%;
        opacity: 0;
        bottom: 100%;
    }
    #preview-btn{
        left: 8%;
    }
    #submit-btn{
        left: 16%;
    }
}

#submit-data{
    .mask{
        opacity: 0.55;
    }
    .content{
        padding: 1em;
        top: 0%;
        margin-top: 0;
        left: 10%;
        margin-left: -@asideW/2;
        width: 80%;
        height: 100%;
        .box-shadow( 0 0 10px @themeC; );

        #close-submit{
            position: absolute;
            top: 1em;
            right: 1em;
        }
    }
}