@import "base/config.less";
@import "base/mixin.less";

@import "base/base.less";
@import "base/reset.less";
@import "base/prism.less";


@import "aside.less";
@import "main.less";
@import "blog.less";
@import "comment.less";



.title{
    text-transform: uppercase;
}
.writen{
    margin-right: 1em;
    font-size: 0.875em;
    font-style: italic;
    color: #888;
}