@import "base/config.less";
@import "base/mixin.less";

@import "base/base.less";
@import "base/reset.less";
@import "base/prism.less";


@import "common/aside.less";
@import "common/icon.less";

@import "blog/main.less";
@import "blog/blog.less";
@import "blog/comment.less";

@import "dashboard/dash-writer.less";
@import "dashboard/tool.less";

html, body{
    height: 100%;
}

#main{
    height: 100%;
    padding-top: 0;
    background-color: #accded;
    // overflow: hidden;
    section{
        height: 100%;
        padding: 1em;
        display: none;
    }
}


#main.writer #writer{
    display: block;
}