@import "base/config.less";
@import "base/mixin.less";


@import "aside.less";
@import "main.less";


html, body{
    margin: 0;
    font-family: 'Anonymous Pro' 'Microsoft Yahei';
    color: #444;
}

body{
    font-size: 1em;
    line-height: 1.5;
    // padding-left: @asideW;
}
p{
    margin: 0.5em 0;
    line-height: 1.5;
}

ul{
    margin: 0;
    padding-left: 1.5em;
}
li{
    line-height: 1.5;
}

a{
    color: #2F83A3;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.title{
    text-transform: uppercase;
}
.writen{
    font-size: 0.875em;
    font-style: italic;
    color: #666;
}