<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/layout/css/layout-dashboard.css" />
    <script src="/dist/3rdpartylib/sea.js"></script>
    <script src="/dist/3rdpartylib/avalon.all.js"></script>
    <script src="/dist/3rdpartylib/jquery.all.js"></script>
    <script src="/dist/3rdpartylib/showdown_prism.js"></script>
</head>
<body>
    <aside></aside>
    <div id="main" class="writer">
        <section id="writer" class="nopreview">
            <div id="md">
                <iframe src="/partial/md-editor.html" frameborder="0" name="md" id="iframe-md"></iframe>
            </div>
            <div id="preview"></div>

            <span class="btn btn-primary" id="preview-btn">预览</span>
            <span class="btn btn-primary" id="submit-btn">上传blog</span>
            
        </section>
        <section></section>
        <section></section>
        <section></section>

        <article class="pop-module" id="submit-data">
            <div class="mask"></div>
            <div class="content" ms-controller="post">
                <i class="icon icon-close" id="close-submit">X</i>
                <div id="other-param">
                    <input type="text" placeholder="new post title" id="newpost-title" ms-duplex="title">
                    <input type="text" placeholder="tags" id="new-post-tag" ms-duplex="tags">
                    <input type="text" placeholder="author" id="post-author" ms-duplex="author">
                    <input type="text" placeholder="geolocation" id="pos-geo" ms-duplex="location">
                    <input type="text" placeholder="like" id="post-like" ms-duplex="like">
                    <input type="text" placeholder="comment" id="post-comment" ms-duplex="comment">
                </div>
                <div id="preview">
                    <div class="thumb"></div>
                    <div class="whole">
                        <article class="post">
                            {{ content | md2html | addSyntexType | html }}
                        </article>
                    </div>
                </div>
                
            </div>
        </article>
        <!-- <article class="pop-module"></article> -->
        <!-- <article class="pop-module"></article> -->

        <div id="toolbar">
            <div class="more">
                <span class="moretoole"></span>
            </div>
            <div class="tools">
                <ul id="writer-tools">
                    <li><i class="icon icon-"></i></li>
                    <li><i class="icon icon-"></i></li>
                    <li><i class="icon icon-"></i></li>
                    <li><i class="icon icon-"></i></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        avalon.config({
            loader: false
        });
        seajs.config({
            paths: {
                script: '/script'
            }
        });
        seajs.use('script/controller/dashappCtrl');

    </script>
</body>
</html>