/* line 47, mainlayout.less */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
}
/* line 57, mainlayout.less */
header,
aside,
section {
  position: fixed;
  height: 100%;
  overflow-y: auto;
}
/* ------ 固定样式 and 常规样式 ------*/
/* line 64, mainlayout.less */
header {
  width: 300px;
  background: #586c5d;
}
/* line 68, mainlayout.less */
#timeline {
  width: auto;
  background: #8b9f90;
  margin-left: 300px;
}
/* line 73, mainlayout.less */
section {
  box-sizing: border-box;
  width: 0;
  background: #bed2c3;
  margin-left: 480px;
}
/* line 79, mainlayout.less */
section img {
  max-width: 800px;
}
/* -------- 阅读模式, header略窄, timeline紧缩, section阅读区显示为主体  --------*/
/* line 85, mainlayout.less */
body.readmode #timeline {
  width: 180px;
}
/* line 88, mainlayout.less */
body.readmode section {
  width: 100%;
  padding: 2.5em;
  padding-right: 482.5px;
}
/*  ------------ details of timeline  -----------*/
/* line 104, mainlayout.less */
body.glancemode #timeline {
  position: relative;
  height: 100%;
  background: #212E32;
}
/* line 109, mainlayout.less */
body.glancemode #timeline ul#itermCtn {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* line 118, mainlayout.less */
body.glancemode #timeline #line {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  background: rgba(255, 255, 255, 0.7);
}
/* line 126, mainlayout.less */
body.glancemode #timeline .iterm {
  position: absolute;
  width: 500px;
  margin: 1.5em 0;
  box-sizing: border-box;
  font-size: 1em;
  min-height: 4em;
}
/* line 136, mainlayout.less */
body.glancemode #timeline .iterm .bubble {
  position: relative;
  width: 445px;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.375em;
  color: #444;
  background: #dcdcdc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 149, mainlayout.less */
body.glancemode #timeline .iterm .bubble .top {
  margin: 0 0 0.5em 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
/* line 157, mainlayout.less */
body.glancemode #timeline .iterm .bubble .bottom {
  margin: 0.5em 0 0 0;
}
/* line 161, mainlayout.less */
body.glancemode #timeline .iterm .bubble h1,
body.glancemode #timeline .iterm .bubble h2,
body.glancemode #timeline .iterm .bubble h3,
body.glancemode #timeline .iterm .bubble h4,
body.glancemode #timeline .iterm .bubble h5 {
  margin: 0;
}
/* line 165, mainlayout.less */
body.glancemode #timeline .iterm .bubble h2 {
  font-size: 1.125em;
}
/* line 168, mainlayout.less */
body.glancemode #timeline .iterm .bubble h3 {
  font-size: 1em;
}
/* line 171, mainlayout.less */
body.glancemode #timeline .iterm .bubble p {
  margin: 0;
  line-height: 1.25em;
  font-size: 0.9em;
  text-indent: 1em;
}
/* line 177, mainlayout.less */
body.glancemode #timeline .iterm .bubble blockquote {
  border: none;
  border-left: 3px solid #212E32;
  margin-left: 1em ;
  box-sizing: border-box;
  padding: 0.125em 0.25em;
}
/* line 183, mainlayout.less */
body.glancemode #timeline .iterm .bubble blockquote p {
  text-indent: 0;
  color: #999;
  font-style: italic;
}
/* line 191, mainlayout.less */
body.glancemode #timeline .iterm .connect {
  position: absolute;
  top: 30px;
  margin-top: -2px;
  width: 36px;
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
}
/* line 199, mainlayout.less */
body.glancemode #timeline .iterm .linetag {
  position: absolute;
  top: 15px;
  width: 30px;
  height: 30px;
  background: #5facc4;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* line 208, mainlayout.less */
body.glancemode #timeline .iterm.left {
  left: 0;
}
/* line 213, mainlayout.less */
body.glancemode #timeline .iterm.left .connect {
  right: 17px;
}
/* line 216, mainlayout.less */
body.glancemode #timeline .iterm.left .linetag {
  right: -15px;
}
/* line 220, mainlayout.less */
body.glancemode #timeline .iterm.right {
  left: 500px;
}
/* line 222, mainlayout.less */
body.glancemode #timeline .iterm.right .bubble {
  left: 55px;
}
/* line 226, mainlayout.less */
body.glancemode #timeline .iterm.right .connect {
  left: 17px;
}
/* line 229, mainlayout.less */
body.glancemode #timeline .iterm.right .linetag {
  left: -15px;
}
